/ClienteInvalidoException.class
/DecoratorCheque.class
/DecoratorEfectivo.class
/DecoratorMedioDePago.class
/DecoratorTarjeta.class
/Empresa.class
/FactoryInvalidoException.class
/FacturaFactory.class
/FacturaInvalidaException.class
/IAplicaPromo.class
/MetodoDePagoInvalidoException.class
/PromoDorada.class
/PromoPlatino.class
/Promocionable.class
